<a href="https://colab.research.google.com/github/etrahadias/etrahadias.github.io/blob/main/Trahadias_CS620_DataProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Travel](https://drive.google.com/uc?export=view&id=12ADuKga-IdVDh88RBrBmfocYSq6qtfdp)

# **Life After Lockdown: An Analysis of COVID-19's Impact on Travel Trends**

**Name:** Elizabeth Trahadias

**Email:** etrah001@odu.edu

**Portfolio:** https://etrahadias.github.io/

### **Abstract**

In March of 2020, the world temporarily shut down due to the COVID-19 pandemic. A lot of time was spent at home, businesses closed, holidays were celebrated via Zoom, and students and employees learned to work from home. Another major factor of life that was impacted by the pandemic was travel.

I am looking to explore the how travel trends have evolved from 2019 to present. I am curious to see if there is a relationship between the number COVID-19 cases, the popularity of certain travel destinations, and number of airline passengers.

#### **Goals**

The objectives of this project are to:

* Merge and clean multiple data sets
* Perform exploratory data analysis
* Practice data wrangling
* Analyze U.S. travel trends in 2019 versus the COVID-19 pandemic (i.e. most popular airlines, common destinations and travel months, number of people traveling, total number of scheduled flights, etc.)
* Determine if there is a relationship between number of positive COVID-19 cases vs number of people traveling on airplanes
* Create visualizations that display popular U.S. travel destinations and airlines before and during the pandemic
* Determine the impact of COVID-19 on airlines' profitability in the U.S. (TBD if this will be explored)
* Develop a model that predicts travel trends in the future (TBD if this will--or even can be--explored)

#### **Data Sources**

There are 4 data sets to investigate the above objectives. The first 3 data sets are from the [Bureau of Transportation Statistics](https://www.transtats.bts.gov/Tables.asp?QO_VQ=EED&QO_anzr=Nv4%FDPn44vr4%FDf6n6v56vp5%FD%FLS14z%FDHE%FDg4nssvp%FM-%FD%FDh.f.%FDPn44vr45&QO_fu146_anzr=Nv4%FDPn44vr45). The data sets display information like the number of airline passengers and the destinations of the flights. The also data includes the month for each flight. Since each csv file represents a year (2019, 2020, & 2021), I will need to merge the 3 data sets into one for ease of analysis. A description of the variables in this data set can be found [here](https://www.transtats.bts.gov/TableInfo.asp?gnoyr_VQ=FIL&QO_fu146_anzr=Nv4%20Pn44vr45&V0s1_b0yB=D).

The dataset with the COVID-19 case information is from the [CDC](https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36/data), and it is a relatively messy data set. It appears the data was entered or submitted by users, and there are a lot of missing and inconsistent values.

Since the airplane flight data is broken down by month and the CDC data is broken down by day, I will have to clean the CDC data, organize it by month, and merge it with a modified version of the airline data to show the relationship between the number of COVID-19 cases and the number of people traveling per month.

*TBD - I may try to use the data set below to explore COVID-19's impact on airline profitability.*

* Possible data source for airline profitability: https://www.transtats.bts.gov/Data_Elements_Financial.aspx?Qn6n=K

### **Importing Data**

In [ ]:
import pandas as pd

In [ ]:
# Mount to Google Drive to import the data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Read in primary data sets with Pandas
# These data sets show airline information (number of passengers, destinations, etc.)
airline19=pd.read_csv("/content/drive/My Drive/CS 620/Project/2019Airline.csv")
airline20=pd.read_csv("/content/drive/My Drive/CS 620/Project/2020Airline.csv")
airline21=pd.read_csv("/content/drive/My Drive/CS 620/Project/2021Airline.csv")

In [ ]:
# Show the first few lines of data for the 2019 airline data
airline19.head()

   PASSENGERS  FREIGHT  MAIL  ...  DISTANCE_GROUP CLASS  Unnamed: 36
0         0.0      0.0   0.0  ...               1     F          NaN
1         0.0      0.0   0.0  ...               2     F          NaN
2         0.0      0.0   0.0  ...               1     F          NaN
3         0.0      0.0   0.0  ...               2     F          NaN
4         0.0      0.0   0.0  ...               3     F          NaN

[5 rows x 37 columns]

In [ ]:
# Show the first few lines of data for the 2020 airline data
airline20.head()

   PASSENGERS  FREIGHT    MAIL  ...  DISTANCE_GROUP CLASS  Unnamed: 36
0         0.0    165.0  3641.0  ...               1     G          NaN
1         0.0    751.0   161.0  ...               2     L          NaN
2         0.0      0.0     0.0  ...               1     F          NaN
3         0.0      0.0     0.0  ...               1     F          NaN
4         0.0      0.0     0.0  ...               4     L          NaN

[5 rows x 37 columns]

In [ ]:
# Show the first few lines of data for the 2021 airline data
airline21.head()

   PASSENGERS    FREIGHT      MAIL  ...  DISTANCE_GROUP CLASS  Unnamed: 36
0         0.0   732068.0       0.0  ...               1     G          NaN
1         0.0   619050.0       0.0  ...               4     G          NaN
2         0.0  3966220.0  272048.0  ...               2     G          NaN
3         0.0   998701.0       0.0  ...               1     G          NaN
4         0.0   882144.0       0.0  ...               3     G          NaN

[5 rows x 37 columns]

In [ ]:
# Read in secondary data set with Pandas
# This is data from the CDC that shows COVID-19 case information
covid=pd.read_csv("/content/drive/My Drive/CS 620/Project/COVID.csv")

In [ ]:
# Show the first few lines of data for the COVID-19 case information by state per day
covid.head()

  submission_date state  ... consent_cases consent_deaths
0      09/01/2021    ND  ...         Agree      Not agree
1      02/02/2021    IL  ...         Agree          Agree
2      02/02/2021    MS  ...         Agree          Agree
3      05/03/2020    NH  ...     Not agree      Not agree
4      07/31/2020    ND  ...         Agree      Not agree

[5 rows x 15 columns]

### **References**

* https://www.marktechpost.com/2019/06/07/how-to-connect-google-colab-with-google-drive/
* https://colab.research.google.com/notebooks/io.ipynb#scrollTo=RWSJpsyKqHjH
* https://www.reddit.com/r/GoogleColab/comments/k6qpff/using_an_image_located_in_google_drive_in_colab/